@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

@layer base {
  html {
    transition: background-color 0.3s ease;
  }
  
  .my-app-dark {
    background-color: #0f172a;
    color: white;
  }
}